body {
    box-sizing: border-box;
    background-color: #597ece;
    margin: 20px auto;
    width: 1024px;
   /* font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;*/
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}
.navig {
    background-color: #d3bb32;
}
.nav_menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 2%;
}

.nav_menu_li {
    margin-right: 20px;
}

.foto {
    border-radius: 50%;
    margin-right: 5%;
}

h2 {
    border-radius: 50%;
    background-color:#d3bb32;
    color: #ffffff;
}
.container {
    display: flex;
}

.col_wrap {
    flex-direction: column;
    flex: 1;
    text-align: center;
    align-self: center;
}

.contact, .skill, .language  {
    padding: 0 0 0 10%;
    text-align:left;
}

.left_aside {
    width: 30%;
    margin-right: 50px;
    margin-left: 5%;
}

.text_article {
    text-align: left;
}

.r_article {
    margin-right: 5%;
}